// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  // Insert your own theme rules here

	.backColorGrey{
		background-color:#ACACAC;
	}
  
	.backColorGreen{
		background-color:#8AAC68;
	}

	.fontTitle{
		font-size: 40px;
		font-weight: 700;
		font-family: "Times New Roman", Georgia, Serif;
		text-align: center;
		width: 100%;
	}

	.fontSubtitle{
		font-size: 22px;
		font-weight: 500;
		font-family: "Courier New", Courier, monospace;
		text-align: center;
		width: 100%;
	}

	.fontText{
		font-size: 16px;
		font-weight: 300;
		font-family: "Open Sans", sans-serif;
		text-align: left;
		width: 100%;
	}

	.ewfFlexWrap {
	    .fontTextWrap {
			font-size: 16px;
			font-weight: 300;
			font-family: "Open Sans", sans-serif;
			text-align: left;
	        padding: 5px;
			//width: 100%;
	    }
	
	    .itembox {
	        white-space: normal;
	        vertical-align: top;
	    }
	
	    .itembox.v-label {padding: 5px}
	}
	
	.ewfFlexWrap[width-range~="0-499px"] {
	    .ewfItembox {width: 100%}
	}

	.ewfFlexWrap[width-range~="500px-"] {
	    .ewfItembox {width: 50%}
	}	

	// HOME STYLE - BEGIN

	/* Basic settings for all sizes */
	.myresponsive {
	    padding: 5px;
	    line-height: 36pt;
	}
	
	/* Small size */
	.myresponsive[width-range~="0-400px"] {
	    background: orange;
	    font-size: 16pt;
	}
	
	/* Medium size */
	.myresponsive[width-range~="401px-800px"] {
	    background: azure;
	    font-size: 24pt;
	}
	
	/* Anything bigger */
	.myresponsive[width-range~="801px-"] {
	    background: palegreen;
	    font-size: 36pt;
	}

	// HOME STYLE - END

	// P1 STYLE - BEGIN

	/* Various general settings */
	.flexwrap {
	    background: black;
	    color: white;
	
	    .title {
	        font-weight: bold;
	        font-size: 20px;
	        line-height: 30px;
	        padding: 5px;
	    }
	
	    .itembox {
	        white-space: normal;
	        vertical-align: top;
	    }
	
	    .itembox.v-label {padding: 5px}
	}
	
	.flexwrap[width-range~="0-499px"] {
	    .itembox {width: 100%}
	}
	
	.flexwrap[width-range~="500px-"] {
	    .itembox {width: 50%}
	}	
	
	// P1 STYLE - END

	// P2 STYLE - BEGIN

	/* Common settings */
	.toggledisplay {
	    .enoughspace, .notenoughspace {
	        color: white;
	        padding: 5px;
	    }
	
	    .notenoughspace { /* Really small */
	        background: red;
	        font-weight: normal;
	        font-size: 10px;
	        line-height: 15px;
	    }
	
	    .enoughspace { /* Really big */
	        background: darkgreen;
	        font-weight: bold;
	        font-size: 20px;
	        line-height: 30px;
	    }
	}
	
	/* Quite little space */
	.toggledisplay[width-range~="0-499px"] {
	    .enoughspace    {display: none}
	}
	
	/* Plenty of space */
	.toggledisplay[width-range~="500px-"] {
	    .notenoughspace {display: none}
	}

	// P2 STYLE - END

}
